* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 90%;
  font-size: 20px;
  margin: 0 auto;
}
img {
  float: right;
  padding: 5px;
  margin: 5px;
}
.flex-box {
  background-color: green;
  display: flex;
  gap: 10px;
}
a {
  background-color: yellow;
  height: 50px;
  margin: 1px;
}
